header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

h1 {
  padding: 15px;
  margin: 0;
  background-color: rgb(255, 255, 0);
  text-align: center;
}


.dropdowns {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
  color: white;
}

li{

  position: relative;
  cursor: pointer;
  padding: 10px 16px;
  border-right: 1px solid white;
  font-size: 20px;
}

.dropdowns ul {
  border:none;
  background-color: lightskyblue;
  display: none;
  position: absolute;
  left:0;
  top:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  z-index: 500;
}

.dropdowns ul li{
  border: none;
  font-size: 17px;
}

.dropdowns ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}



.dropdowns li:hover{
  background-color: rgb(88, 136, 184);
}

.dropdowns li:hover > ul {
  display: block;
}


li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;

}



li.active {
  background-color: rgb(113, 169, 192);
}

.search{
  margin: auto;
  display:flex;
}

input[type="text"] {
  flex: 1;
  border-color: transparent;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* outline: none; */
  font-size: 18px;
}

svg {
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
