header {
    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

h1 {
    padding: 15px;
    margin: 0;
    background-color: rgb(255, 255, 0);
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    
    
}

/* ul li{
    position: sticky;
    top: 0;
} */



li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    border-right:  1px solid white;
    font-size: 20px;
}

li a:hover {
    background-color:lightslategray
}

li a.active {
    background-color:rgb(113, 169, 192)
}

li a.active:hover {
    background-color:lightslategray
}

