<div class="login-page">
    <div class="container">
        <div class="login-form">
            <h1>Login Form</h1>
            <form class="form">

                <label for="Username">Username</label><br>
                <input type="text" placeholder="Username"><br>

                <label for="password">Password</label><br>
                <input type="password" placeholder="Password"><br>

                <input type="submit" value="Register User" formaction="/reg">
                <input type="submit" value="Login">

            </form>
        </div>
    </div>
</div>