<section>

  <nav>
    <h2>Users list</h2>
    <ul>
      <li>
        <a href="user1">User 1</a>
        <a href="user2">User 2</a>
        <a href="user3">User 3</a>
        <a href="user4">User 4</a>
        <a href="user5">User 5</a>
        <a href="user6">User 6</a>
        <a href="user7">User 7</a>
        <a href="user8">User 8</a>
        <a href="user9">User 9</a>
        <a href="user10">User 10</a>
        <a href="user11">User 11</a>
        <a href="user12">User 12</a>
        <a href="user13">User 13</a>
        <a href="user14">User 14</a>
        <a href="user15">User 15</a>
        <a href="user16">User 16</a>
        <a href="user17">User 17</a>
        <a href="user18">User 18</a>
        <a href="user19">User 19</a>
        <a href="user20">User 20</a>
      </li>
    </ul>
  </nav>

</section>
