<div class="reg-page">
    <div class="container">
        <div class="reg-form">
            <h1>Register Form</h1>
            <form>
                <label for="Firstname">First Name</label><br>
                <input type="text" placeholder="Enter your First name"><br>

                <label for="Lastname">Last Name</label><br>
                <input type="text" placeholder="Enter yor Last Name"><br>

                <label for="Username">Username</label><br>
                <input type="text" placeholder="Username"><br>

                <label for="Email">Enter your email</label><br>
                <input type="email" placeholder="Enter yor email"><br>

                <label for="password">Password</label><br>
                <input type="password" placeholder="Password"><br>

                <label for="confirm">Confirm your password</label><br>
                <input type="password" placeholder="Confirm yur Password"><br>

                <input type="submit" value="Register User">
                <input type="submit" value="Login">

            </form>
        </div>
    </div>
</div>